/*base style*/

*, 
*:before,
*:after {
    box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;

}
 /*for img to be circle*/
img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: hsl(263, 55%, 52%);
}

/*Layout - mobile first*/

/*center alignment(hor. and ver.) and width*/
.wrapper {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/*Whole section - 5 cards*/
.testimonial  {
    margin: 3rem 0;
    display: grid;
    grid-gap: 1.5rem;
}

/*style that is same for all cards*/
.card {
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
}

/*to align image and text(card-header content) next to each other*/
.card-header  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-header-text {
    margin-left: 1rem;
}

/*to remove default margin between h5 and paragraph inside card-header*/
.card-header-text h5,
.card-header-text .card-header-paragraph {
    margin: 0;
}

/*to target p and h5 with classes----1,2 and 4 have the same color and 3 and 5*/


/*changing color for h5 on cards: 1,2 and 4*/
.card-1 h5,
.card-2 h5,
.card-4 h5  {
    color: hsl(210, 46%, 95%);
    font-weight: 500;
}

/*changing color for p (below h5) on cards: 1,2 and 4 with 50% opacity*/
.card-1 p,
.card-2 p,
.card-4 p  {
    color: hsl(210, 46%, 95%, .5);
}

/*changing color for h2 (main heading on the cards) on cards: 1,2 and 4*/
.heading-for-cards-1-2-4 {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}


/*changing color for p inside quotes on cards: 1,2 and 4 with 70% opacity*/

.quotations-p-1-2-4 {
    color: color: hsl(210, 46%, 95%, .7);
  }

/*changing background-color for each card*/
/* first card has background img (position top, right 10%) */

.card-1 {
    background: hsl(263, 55%, 52%) url(../img/bg-pattern-quotation.svg) top right 10%  no-repeat;
}

.card-2 {
    background-color:  hsl(217, 19%, 35%);
  }

  /*card 3 and 5 have the same styling*/

.card-3 {
    background-color:  hsl(0, 0%, 100%);
  }

  .card-4 {
    background-color:  hsl(219, 29%, 14%);
  }


/* styling card 3 and 5*/

  .card-3 h5,
  .card-3 h2 {
      color: hsl(217, 19%, 35%);
  }

 /*changing color for p (below h5) on cards: 3 and 5 with 50% opacity*/

  .card-3 p {
    color: hsl(217, 19%, 35%, .5);
  }

/*changing color for p inside quotes on cards: 3 and 5 with 70% opacity*/

  .quotations-p-3-5 {
    color: hsl(217, 19%, 35%, .7);
    font-weight: 600;
  }


  footer {
      text-align: center;
      padding: 1rem;
      margin-bottom: 1rem;
      color: hsl(217, 19%, 55%);
  }


  /*media queries for desktop version*/

  @media only screen and (min-width: 1224px) {

    /*images to be bigger*/
      img {
          height: 35px;
          width: 35px;
      }
    
      .wrapper {
          max-width: 1440px; 
      }
      
      .testimonial  {
         grid-template-columns: repeat(4, 1fr);
         grid-gap: 2rem;
         margin: 0 5rem;
      }
    

      /*assigning grid-row and grid-column position for each card*/

      /* NOTE: card-1 has a background image/pattern --- for desktop version must be moved further from the right (was 10%, now is 20%) */

      .card-1 {
        background: hsl(263, 55%, 52%) url(../img/bg-pattern-quotation.svg) top right 20%  no-repeat;
        grid-column: 1 / 3 ;
        grid-row: 1 / 2;
      }
      
      .card-2 {
        grid-column: 3 / 4 ;
        grid-row: 1 / 2;
        }
      
      .card-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3 ;
        }
      
        .card-4 {
            grid-column: 2 / 4;
            grid-row: 2 / 3;
        }

        .card-5 {
            grid-column: 4 / 5;
            grid-row: 1 / 3;
        }
      

  }

 